@use "@/styles/tools/toRem" as *;
@use "@/styles/mixins/container" as *;

.navbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navContent {
  @include container(1400px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
