@use "@/styles/tools/toRem" as *;
@use "@/styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: toRem(24px);
}

.totalCard {
  padding: toRem(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalLabel {
  font-weight: 600;
  font-size: toRem(16px);
  color: $c_title;
}

.cardTitle {
  margin: 0;
  font-size: toRem(18px);
  color: $c_title;
}

.amountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amountLabel {
  font-weight: 500;
  color: $c_title-gray;
}

.cardDetail {
  color: $c_title-gray;
  font-size: toRem(13px);
}
