// Breakpoints
$bp-mobile: 768px;
$bp-tablet: 1024px;
$bp-desktop: 1440px;

@mixin mobile {
  @media (max-width: #{$bp-mobile - 1px}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$bp-tablet - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}
