@use "@/styles/tools/toRem" as *;
@use "@/styles/colors" as *;
@use "@/styles/mixins/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: toRem(24px);
}


.detailGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(16px);

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.fullWidth {
  grid-column: 1 / -1;
}

.fullTable {
  width: 100%;
}

.alignRight {
  text-align: right;
}

.income {
  color: $income-color;
}

.expense {
  color: $expense-color;
}

.loan {
  color: $loan-color;
}

.totalRow {
  background: $c_block-bg;

  td {
    border-top: 2px solid $c_block-border;
  }
}

.emptyText {
  padding: toRem(16px);
  color: $c_title-gray;
  text-align: center;
}
