@use "@/styles/tools/toRem" as *;
@use "@/styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: toRem(24px);
}

.uploadSection {
  display: flex;
  gap: toRem(12px);
  align-items: flex-end;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(16px);
  padding: toRem(40px);
  color: $c_title-gray;
}

.results {
  display: flex;
  flex-direction: column;
  gap: toRem(8px);
}
