@use "@/styles/tools/toRem" as *;
@use "@/styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: toRem(24px);
}

.controls {
  display: flex;
  gap: toRem(12px);
  align-items: center;
}

.table {
  width: 100%;
}

.typeText {
  text-transform: capitalize;
}

.actions {
  display: flex;
  gap: toRem(8px);
}
