@use "@/styles/tools/toRem" as *;
@use "@/styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: toRem(24px);
}

.monthlyTotal {
  display: flex;
  gap: toRem(8px);
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(300px), 1fr));
  gap: toRem(16px);
}

.card {
  display: flex;
  flex-direction: column;
  gap: toRem(12px);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardAmount {
  font-size: toRem(20px);
  font-weight: 600;
  color: $c_title;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: toRem(4px);
  font-size: toRem(13px);
  color: $c_title-gray;
}
